<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
<div th:insert="header :: authorization_bar"></div>

<form method="GET" th:action="@{/locations}" th:object="${location}">
    <div>
        <label for="name">Enter location name</label>
        <input type="text" th:field="*{name}" id="name">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Login error</div>
        <br><br>
        <input type="submit" value="Find location"/>
    </div>
</form>

<div th:if="${locationWeather != null}">
    <div th:each="loc : ${locationWeather}">
        <span th:text="${loc.getName() + ', ' + loc.getMain().getTemperature()}">Location</span>
        <form th:method="DELETE" th:action="@{/delete}">
            <input type="hidden" th:value="${loc.name}" name="locationToDelete"/>
            <input type="submit" value="Delete location"/>
        </form>
    </div>
</div>

</body>
</html>